[run]
omit =
        _*.py

branch = true
source = datestuff
parallel = true

[paths]
source =
    src/datestuff
    .tox/*/lib/*/site-packages/datestuff/

[report]
fail_under = 80
precision = 2
show_missing = true
skip_covered = false

exclude_lines =
        NOQA
        pragma: no cover
        def __repr__
        if self\.debug
        if False
        if None
        raise Assertation
        raise NotImplementedError
        return NotImplemented
        abstractmethod
        if __name__ == .__main__.

[html]
directory = tests/htmlcov
